In [6]:
import pandas as pd

poblacion_caba2021 = pd.read_excel('../data/raw/PBP_CO_T_1025.xls', sheet_name='2021')
poblacion_caba2021.head()

    A単o Edad       Total    Varones     Mujeres
0  2021    0  40225.4512  20736.640  19488.8112
1  2021    1  40404.0720  20808.048  19596.0240
2  2021    2  40515.3360  20851.016  19664.3200
3  2021    3  40566.4640  20868.168  19698.2960
4  2021    4  40564.6768  20862.128  19702.5488

In [9]:
poblacion_caba2021.to_csv('../data/processed/pob_caba2021.csv',index= False , encoding='utf8' )

In [3]:
poblacion_caba2020 = pd.read_excel('../data/raw/PBP_CO_T_1025.xls', sheet_name='2020')
poblacion_caba2020.head()

    A単o Edad       Total     Varones    Mujeres
0  2020    0  40944.2848  21102.2768  19842.008
1  2020    1  40866.6160  21044.5840  19822.032
2  2020    2  40796.8000  20996.2960  19800.504
3  2020    3  40731.5840  20954.7120  19776.872
4  2020    4  40667.7152  20917.1312  19750.584

In [8]:
poblacion_caba2020.to_csv('../data/processed/pob_caba2020.csv',index= False , encoding='utf8' )